<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <div>
        <div>
            First name: {{ first_name }}
        </div>
        <div>
            Last name: {{ last_name }}
        </div>
    </div>
    <form method="post">
        <div>
            First name:<input type="text" name="first_name" />
        </div>
        <div>
            Last name:<input type="text" name="last_name" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
  </body>
</html>
