version: '3'

services: 
    db:
        container_name: postgres
        image: postgres:latest
        ports:
            - ${DATABASE_PORT}:5432
        environment:
            POSTGRES_USER: ${DATABASE_USER}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_DB}
        volumes:
            - ./pgdata:/var/lib/postgresql/data
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql # runs slq script on startup

volumes:
    pgdata:
